
<div class="container">
    <div class="">
    <input value={{movieName}} class="form-control w-50 mb-3 mt-5 mx-auto " type="text" (change)="getName(name.value)" placeholder="Name Of Movie" #name>
    <input value={{movieName}} class="form-control w-50 mb-3 mx-auto" type="text"(change)="getDescription(description.value)"placeholder="Description Of Movie" #description>
    <input  class="mb-0 " type="file" style="position: relative;left: 28rem;" (change)="getFile($event);selectImage()">
   
<form class="form-group w-50 mx-auto">
    <div class="form-group w-100 ">
        <label for="exampleSelect1" class="form-label mt-4">Category:</label>
        <select class="form-select" id="exampleSelect1">
            <!-- <option disabled selected value="All">All</option> -->
          <option value="{{option.id}}" *ngFor="let option of category" #option>{{option.name}}</option>
        </select>
    </div>
<button  (click)="submitData()" type="submit" style="display: flex;justify-content: center;align-items: center;">Submit</button>
</form>

    </div>

</div>